<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataWorker.Properties.Settings.conectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\Fabian\Documents\Visual Studio 2010\Projects\lpoo2-grupo4\lpoo2-grupo4\pasteleria.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>