<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataWorker.Properties.Settings.conectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\git\lpoo2-prueba\pasteleria.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>